@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans";
}

.App {
    overflow-x: hidden;
}

.content {
    max-width: 84rem;
    margin: 0 auto;
    width: 90%;
    /* @apply ; */
}
